{% extends "bookclub/base.html" %}
{% block title %} Ask/Rec {% endblock %}
{% block content %}

<div class="container" align="center">
	{% for message in messages %}
	<div class="alert alert-{{message.tags}}">{{message}}</div>
	{% endfor %}
	<form name="my form" action="." method="POST">
		{% csrf_token %}
		<table>
			{{ask_form.as_table}}
		</table>
		<input type="submit" value="Submit">
		<input type="reset" value="Clear">
	</form>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading" align="center">
					<h3>Asks For Book Recommendations</h3>
				</div>
			</div>
		</div>
	</div>
	<table>
		<tr bgcolor="#cccccc" height="50">
			<td width="250">Subject</td>
			<td width="500">Description</td>
			<td width="300">Triggers</td>
			<td width="200">Asked By</td>
			<td width="200">Time</td>
		</tr>
		{% for ask in asks %}
			<tr bgcolor="{%cycle '#ffccff' '#ccffcc' %}"  height="50">
				<td><a href="/ask/{{ask.id}}/">{{ask.title}}</a></td>
				<td>{{ask.description |truncatechars:50 }}</td>
				<td>{{ask.triggers |truncatechars:20 }}</td>
				<td><a href="/profile/{{ask.user}}/">{{ask.user}}</a></td>		
				<td>{{ask.pub_time}}</td>
			</tr>
		{% endfor %}
	</table>
	<!-- {% for ask in asks %}
		{% cycle "<div class='row'>" "" "" %}
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading" align="center">
						{{ask.title}}
					</div>
					<div class="panel-body">
						{{ask.description}}
					</div>
					<div class="panel-footer">
						Asked by：{{ask.user}}
					</div>
				</div>
			</div>
		{% cycle "" "" "</div>"%}
	{% endfor %} -->

</div>

{% endblock %}